@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Color;
$primary-color: #E91F2A;
$hover-color : #E91F2A;
$secondary-color: #293271;
$bColor: #72809D;
$white : #ffffff;
$black : #000000;
$border-color: #DADADA;
$box-shadow: 0 0 20px rgba(62, 28, 131, 0.1);
$bg-light: #F7F9FC;
$white-2: rgba(255, 255, 255, 0.9);


// Body;
$bodyFont: 'Open Sans', sans-serif;
$titleFont: 'Work Sans', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .2s;
